<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <title>Add New Event | Review System</title>
    </head>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="container mt-3">
            <form action="/event" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input
                        type="text"
                        class="form-control"
                        id="title"
                        name="title"
                        placeholder="Enter Title of Event" />
                </div>
                <div class="mb-3">
                    <label for="body" class="form-label">Content</label>
                    <textarea
                        class="form-control"
                        placeholder="Your Content Goes Here..."
                        id="body"
                        name="body"
                        cols="30" rows="9"></textarea>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
            </form>
        </div>

        <%- include('./partials/scripts.ejs') %>
    </body>
</html>
